{% extends "template.html" %} {% block content %}
<div class="card-deck mr-2 ml-2">
  <div class="card about-container mx-auto">
    <div class="about-me d-flex">
      <div>
        <h1 class="about-title">About Me</h1>
        <p class="about-text">
          Hi! My name is Priya Hariharan and I am pursuing an Informatics degree at the University of Washington, Seattle.
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/priya-hariharan-2834271b7/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/phariha/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://drive.google.com/file/d/1_Iqg5rL5iGclxlzvS-MrRnfGXOStK_qt/view?usp=sharing" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-file-alt fa-3x"></i>
          </a>
        </div>
      </div>
      <img class="priya-pic" src="{{ url_for('static', filename='img/priya.jpg') }}" />
    </div>
  </div>
</div>

{% endblock %}