<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<header class="nav-bar">
  <div class="nav-content">
    <div class="nav-collect"></div>
    <div class="nav-items">
      <li><a href="/">Home</a></li>
      <li><a href="/education">Education</a></li>
      <li><a href="/work">Work Experience</a></li>
      <li><a href="/hobbies">Hobbies</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/timeline">Timeline</a></li>
    </div>
  </div>
</header>

{% if request.path == '/' %}
<div class="background-image">
  <div class="text-overlay ml-4">
    <h1 class="text">Priya's Portfolio</h1>
  </div>
  <img class="background-pic" src="{{ url_for('static', filename='img/nature.jpg') }}" />
</div>
{% endif %}
